@font-face {
    font-family: "Barlow Semibold";
    src: url("Barlow-SemiBold.woff") format('woff');
}
@font-face {
    font-family: "Barlow Black";
    src: url("Barlow-Black.woff") format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "Barlow Extrabold";
    src: url("Barlow-ExtraBold.woff") format('woff');
}